PROJECT_NAME="test-thirty-eighth"
PROJECT_SLUG=test-thirty-eighth
GITHUB_REPOSITORY=test-thirty-eighth
LINEAR_PROJECT_KEY=TEST_THIRTY_EIGHTH
NODE_ENV=development
SERVER_PORT=8080
FRONTEND_PORT=3000
API_PORT=8000
